.site-head {
    background-image: 
    url(
  "https://static.ghost.org/v1.0.0/images/blog-cover.jpg");
    height: 400px;
    margin-top: -30px;
    background-repeat:no-repeat; 
    background-position: 50%;
    background-size: cover;
    /* padding-bottom: 20px;
    padding-top: 20px; */
  }

  #img{
    margin: 20px;
  }

  #title{
    color: white;
  }
.cont {
    margin: 0 auto;
    max-width: 1120px;
    padding: 0 4vw;
}

hr.style { 
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

.site-banner {
    margin: 0 auto;
    max-width: 80%;
    padding: 5vw 0;
    text-align: top;
}

.site-banner-title {
    color: #fff;
    font-size: 4rem;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
}

.site-banner-desc {
    font-size: 2.4rem;
    line-height: 1.3em;
    margin: 5px 0 0;
    opacity: 2.9;
    padding: 0;
    color: aliceblue;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -52px 0 0 -60px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #404d56;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.text{
  /* margin: 376px 0 0 -76px; */
  text-align: bottom;
  position: bottom;
  height: 400px;
}