.site-head {
    background-image: 
    url(
  "https://static.ghost.org/v1.0.0/images/blog-cover.jpg");
    height: 400px;
    margin-top: -30px;
    background-repeat:no-repeat; 
    background-position: 50%;
    background-size: cover;
    /* padding-bottom: 20px;
    padding-top: 20px; */
  }

.container {
    margin: 0 auto;
    max-width: 1120px;
    padding: 0 4vw;
}


.site-banner {
    margin: 0 auto;
    max-width: 80%;
    padding: 5vw 0;
    text-align: top;
}

.site-banner-title {
    color: #fff;
    font-size: 4rem;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
}

.site-banner-desc {
    font-size: 2.4rem;
    line-height: 1.3em;
    margin: 5px 0 0;
    opacity: 2.9;
    padding: 0;
    color: aliceblue;
}

.Tdiv{
    max-width: 80%;
}